@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0378FF;
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  color: #212121;
}

div.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 400px;
}

div.App div.preload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
}

div.App form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
}

div.App form input {
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  border: none;
  background: transparent;
  color: white;
  border: 1px solid white;
}

div.App form button {
  background-color: white;
  color: #0378FF;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
  font-size: 17px;
  border: none;
}

div.App div.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: auto;
  padding: 30px 20px;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 3px 5px 2px #013C80;
          box-shadow: 3px 5px 2px #013C80;
}

div.App div.card .city {
  font-size: 20px;
  font-weight: 600;
  width: 180px;
}

div.App div.card .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: auto;
  font-size: 13px;
  font-weight: 200;
}

div.App div.card .temperatura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 100px;
  position: relative;
}

div.App div.card .temperatura .number {
  font-size: 110px;
  font-weight: 600;
  position: absolute;
  top: -20px;
}

div.App div.card .temperatura .celcius {
  font-weight: 600;
  font-size: 30px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  position: absolute;
  top: 0;
  right: 0;
}

div.App div.card .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
}

div.App div.card .status img {
  width: 75px;
}

div.App div.card .status .dateSpan {
  color: #013C80;
}

div.App div.card .status .date {
  font-size: 17px;
  color: green;
}
/*# sourceMappingURL=index.css.map */